<nav class="container relative mx-auto p-6">
  <div class="my-6 flex items-center justify-between space-x-20">
    <div class="z-30">
      <img #logoImg
        src="assets/bookmark/images/logo-bookmark.svg" alt="" id="logo" />
    </div>

    <div class="hidden items-center uppercase space-x-10 text-grayishBlue0 md:flex">
      <a href="#features" class="tracking-widest hover:text-softRed0">Features</a>
      <a href="#download" class="tracking-widest hover:text-softRed0">Download</a>
      <a href="#faq" class="tracking-widest hover:text-softRed0">FAQ</a>
      <a href="#"
         class="rounded-lg border-2 px-8 py-2 text-white shadow-md bg-softRed0 border-softRed0 hover:text-softRed0 hover:bg-white">Login</a>
    </div>
    <button #menuBtn
            id="menu-btn"
            class="z-30 block hamburger focus:outline-none md:hidden">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <div #menuDiv
       id="menu"
       class="fixed inset-0 z-20 hidden h-full w-full flex-col items-center self-end px-6 py-1 pt-24 pb-4 uppercase tracking-widest text-white opacity-90 m-h-screen divide-y divide-gray-500 bg-veryDarkBlue0">
    <div class="w-full py-3 text-center">
      <a href="#features" class="block hover:text-softRed0">Features</a>
    </div>
    <div class="w-full py-3 text-center">
      <a href="#download" class="block hover:text-softRed0">Download</a>
    </div>
    <div class="w-full py-3 text-center">
      <a href="#faq" class="block hover:text-softRed0">FAQ</a>
    </div>
    <div class="w-full py-3 text-center">
      <a href="#" class="block hover:text-softRed0">Login</a>
    </div>
  </div>
</nav>

<section id="hero">
  <div class="container mx-auto flex flex-col-reverse p-6 lg:mb-0 lg:flex-row">
    <div class="flex flex-col space-y-10 lg:mt-16 lg:w-1/2">
      <h1 class="text-center text-3xl font-semibold lg:text-left lg:text-6xl"> A Simple Bookmark Manager </h1>
      <p class="mx-auto max-w-md text-center text-lg text-gray-400 lg:mx-0 lg:mt-0 lg:text-left lg:text-2xl">
        A clean and simple interface to organize your favourite websites.
        Open a new browser tab and see your sites load instantly. Try it for
        free.
      </p>

      <div class="flex w-full items-center justify-center space-x-4 lg:justify-start">
        <a href="#" class="rounded border-2 p-4 text-sm font-semibold text-white shadow-md bg-softBlue0 border-softBlue0 hover:text-softBlue0 hover:bg-white md:text-base">Get It On Chrome</a>
        <a href="#" class="rounded border-2 border-gray-300 bg-gray-300 p-4 text-sm font-semibold text-black shadow-md hover:bg-white hover:text-gray-600 md:text-base">Get It On Firefox</a>
      </div>
    </div>

    <!-- Image -->
    <div class="relative mx-auto lg:mx-0 lg:mb-0 lg:w-1/2">
      <div class="bg-hero"></div>
      <img src="assets/bookmark/images/illustration-hero.svg"
           alt=""
           class="relative z-10 overflow-x-visible lg:top-24 xl:top-0" />
    </div>
  </div>
</section>

<section id="features">
  <div class="container mx-auto mt-16 px-6">
    <h2 class="mb-6 text-center text-4xl font-semibold">Features</h2>
    <p class="mx-auto max-w-md text-center text-grayishBlue0">
      Our aim is to make it quick and easy for you to access your favourite
      websites. Your bookmarks sync between your devices so you can access
      them on the go.
    </p>
  </div>
</section>

<section id="tabs">
  <div class="container relative mx-auto my-6 mt-12 mb-32 px-6">
    <div class="bg-tabs"></div>


    <!-- tabs -->
    <div class="mx-auto mb-6 flex max-w-xl flex-col justify-center border-b md:space-x-10 md:flex-row">
      <div class="flex cursor-pointer justify-center border-b text-center text-gray-600 tab hover:text-softRed0 md:w-1/3 md:border-b-0"
           data-target="panel-1" (click)="handleTabClick($event)">
        <div class="border-b-4 py-5 tab-border border-softRed0" data-target="panel-1">Simple Bookmarking</div>
      </div>

      <div class="flex cursor-pointer justify-center border-b text-center text-gray-600 tab hover:text-softRed0 md:w-1/3 md:border-b-0"
           data-target="panel-2" (click)="handleTabClick($event)">
        <div class="py-5 tab-border" data-target="panel-2">Speedy Searching</div>
      </div>

      <div class="flex cursor-pointer justify-center border-b text-center text-gray-600 tab hover:text-softRed0 md:w-1/3 md:border-b-0"
           data-target="panel-3" (click)="handleTabClick($event)">
        <div class="py-5 tab-border" data-target="panel-3">Easy Sharing</div>
      </div>
    </div>

    <div id="panels" class="container mx-auto">
      <!-- Panel 1 -->
      <div class="flex flex-col py-5 panel panel-1 md:space-x-7 md:flex-row">
        <div class="flex justify-center md:w-1/2">
          <img src="assets/bookmark/images/illustration-features-tab-1.svg"
               alt=""
               class="relative z-10" />
        </div>
        <div class="flex flex-col space-y-8 md:w-1/2">
          <h3 class="mt-32 text-center text-3xl font-semibold md:mt-0 md:text-left"> Bookmark in one click </h3>
          <p class="max-w-md text-center text-grayishBlue0 md:text-left">
            Organize your bookmarks however you like. Our simple
            drag-and-drop interface gives you complete control over how you
            manage your favourite sites.
          </p>
          <div class="mx-auto md:mx-0">
            <a href="#"
               class="mt-4 rounded-lg border-2 border-white px-6 py-3 font-semibold text-white bg-softBlue0 hover:text-softBlue0 hover:border-softBlue0 hover:border-2 hover:bg-white md:inline-flex">More Info</a>
          </div>
        </div>
      </div>

      <!-- Panel 2 -->
      <div class="flex hidden flex-col py-5 panel panel-2 md:space-x-7 md:flex-row">
        <div class="flex justify-center md:w-1/2">
          <img
            src="assets/bookmark/images/illustration-features-tab-2.svg"
            alt=""
            class="relative z-10" />
        </div>
        <div class="flex flex-col space-y-8 md:w-1/2">
          <h3 class="mt-14 text-center text-3xl font-semibold md:mt-0 md:text-left"> Intelligent search </h3>
          <p class="max-w-md text-center text-grayishBlue0 md:text-left">
            Our powerful search feature will help you find saved sites in no
            time at all. No need to trawl through all of your bookmarks.
          </p>
          <div class="mx-auto md:mx-0">
            <a href="#"
               class="mt-4 rounded-lg border-2 border-white px-6 py-3 font-semibold text-white bg-softBlue0 hover:text-softBlue0 hover:border-softBlue0 hover:border-2 hover:bg-white md:inline-flex">More Info</a>
          </div>
        </div>
      </div>

      <!-- Panel 3 -->
      <div class="flex hidden flex-col py-5 panel panel-3 md:space-x-7 md:flex-row">
        <div class="flex justify-center md:w-1/2">
          <img src="assets/bookmark/images/illustration-features-tab-3.svg"
               alt=""
               class="relative z-10" />
        </div>
        <div class="flex flex-col space-y-8 md:w-1/2">
          <h3 class="mt-14 text-center text-3xl font-semibold md:mt-0 md:text-left"> Share your bookmarks </h3>
          <p class="max-w-md text-center text-grayishBlue0 md:text-left">
            Easily share your bookmarks and collections with others. Create
            a shareable a link that you can send at the click of a button.
          </p>
          <div class="mx-auto md:mx-0">
            <a href="#"
               class="mt-4 rounded-lg border-2 border-white px-6 py-3 font-semibold text-white bg-softBlue0 hover:text-softBlue0 hover:border-softBlue0 hover:border-2 hover:bg-white md:inline-flex">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="download">
  <div class="container mx-auto px-6">
    <h2 class="mb-6 text-center text-3xl font-semibold md:text-4xl">
      Download the extension
    </h2>
    <p class="mx-auto max-w-lg text-center text-grayishBlue0">
      We've got more browsers in the pipeline. Please do let us know if
      you've got a favourite you'd like us to prioritize.
    </p>
  </div>
</section>

<section id="download-boxes" class="py-32">
  <div class="relative mx-auto flex max-w-5xl flex-col items-center px-10 space-y-10 md:space-y-0 md:space-x-7 md:flex-row md:px-6">
    <!-- Box 1 -->
    <div class="flex w-full flex-col rounded-lg py-6 text-center shadow-lg space-y-4 md:w-1/3">
      <div class="flex justify-center">
        <img src="assets/bookmark/images/logo-chrome.svg" alt="" />
      </div>
      <h5 class="pt-6 text-xl font-bold">Add to Chrome</h5>
      <p class="text-gray-400">Minimum Version 62</p>

      <div class="bg-repeat-x px-6 pt-6 capitalize bg-dots">
        <a href="#"
           class="block w-full rounded-lg border-2 py-3 text-white duration-200 bg-softBlue0 border-softBlue0 hover:text-softBlue0 hover:bg-white">Add & Install Extension</a>
      </div>
    </div>

    <!-- Box 2 -->
    <div class="w-full md:w-1/3">
      <div class="flex w-full flex-col rounded-lg py-6 text-center shadow-lg space-y-4 md:mt-8">
        <div class="flex justify-center">
          <img src="assets/bookmark/images/logo-firefox.svg" alt="" />
        </div>
        <h5 class="pt-6 text-xl font-bold">Add to Firefox</h5>
        <p class="text-gray-400">Minimum Version 55</p>

        <div class="bg-repeat-x px-6 pt-6 capitalize bg-dots">
          <a href="#"
             class="block w-full rounded-lg border-2 py-3 text-white duration-200 bg-softBlue0 border-softBlue0 hover:text-softBlue0 hover:bg-white">Add & Install Extension</a>
        </div>
      </div>
    </div>

    <!-- Box 3 -->
    <div class="w-full md:w-1/3">
      <div class="flex w-full flex-col rounded-lg py-6 text-center shadow-lg space-y-4 md:mt-16">
        <div class="flex justify-center">
          <img src="assets/bookmark/images/logo-opera.svg" alt="" />
        </div>
        <h5 class="pt-6 text-xl font-bold">Add to Opera</h5>
        <p class="text-gray-400">Minimum Version 46</p>

        <div class="bg-repeat-x px-6 pt-6 capitalize bg-dots">
          <a href="#"
             class="block w-full rounded-lg border-2 py-3 text-white duration-200 bg-softBlue0 border-softBlue0 hover:text-softBlue0 hover:bg-white">Add & Install Extension</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faq">
  <div class="container mx-auto">
    <h2 class="mb-6 text-center text-3xl font-semibold md:text-4xl">Frequently Asked Questions</h2>
    <p class="mx-auto max-w-lg px-6 text-center text-graishBlue">
      Here are some of our FAQs. If you have any other questions you'd like
      answered please feel free to email us.
    </p>
  </div>
</section>

<section id="faq-accordion">
  <div class="container mx-auto mb-32 px-6">
    <div class="m-8 mx-auto max-w-2xl overflow-hidden">

      <!-- Tab 1 -->
      <div class="border-b py-1 outline-none group" tabindex="1">
        <div class="flex cursor-pointer items-center justify-between py-3 text-gray-500 transition duration-500 group ease">
          <div class="transition duration-500 ease group-hover:text-red-500 group-focus:text-red-500"> What is Bookmark?</div>
          <div class="transition duration-500 ease group-focus:-rotate-180 group-focus:text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"
              />
            </svg>
          </div>
        </div>

        <div class="max-h-0 overflow-hidden transition duration-500 ease group-focus:max-h-screen">
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
            repellat amet doloribus consequuntur eos similique provident
            tempora voluptates iure quia fuga dicta voluptatibus culpa
            mollitia recusandae delectus id suscipit labore?
          </p>
        </div>
      </div>

      <!-- Tab 2 -->
      <div class="border-b py-1 outline-none group" tabindex="2">
        <div class="flex cursor-pointer items-center justify-between py-3 text-gray-500 transition duration-500 group ease">
          <div class="transition duration-500 ease group-hover:text-red-500"> How can I request a new browser?</div>
          <div class="transition duration-500 ease group-focus:-rotate-180 group-focus:text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"
              />
            </svg>
          </div>
        </div>

        <div class="max-h-0 overflow-hidden transition duration-500 ease group-focus:max-h-screen">
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
            repellat amet doloribus consequuntur eos similique provident
            tempora voluptates iure quia fuga dicta voluptatibus culpa
            mollitia recusandae delectus id suscipit labore?
          </p>
        </div>
      </div>

      <!-- Tab 3 -->
      <div class="border-b py-1 outline-none group" tabindex="3">
        <div class="flex cursor-pointer items-center justify-between py-3 text-gray-500 transition duration-500 group ease">
          <div class="transition duration-500 ease group-hover:text-red-500">Is ther a mobile app?</div>
          <div class="transition duration-500 ease group-focus:-rotate-180 group-focus:text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"
              />
            </svg>
          </div>
        </div>

        <div class="max-h-0 overflow-hidden transition duration-500 ease group-focus:max-h-screen">
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
            repellat amet doloribus consequuntur eos similique provident
            tempora voluptates iure quia fuga dicta voluptatibus culpa
            mollitia recusandae delectus id suscipit labore?
          </p>
        </div>
      </div>

      <!-- Tab 4 -->
      <div class="border-b py-1 outline-none group" tabindex="4">
        <div class="flex cursor-pointer items-center justify-between py-3 text-gray-500 transition duration-500 group ease">
          <div class="transition duration-500 ease group-hover:text-red-500">What about other Chromium browsers</div>
          <div class="transition duration-500 ease group-focus:-rotate-180 group-focus:text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"
              />
            </svg>
          </div>
        </div>

        <div class="max-h-0 overflow-hidden transition duration-500 ease group-focus:max-h-screen">
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
            repellat amet doloribus consequuntur eos similique provident
            tempora voluptates iure quia fuga dicta voluptatibus culpa
            mollitia recusandae delectus id suscipit labore?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="newsletter" class="bg-softBlue0">
  <div class="mx-auto max-w-lg py-24">
    <p class="mb-6 text-center text-lg uppercase tracking-widest text-white">35,000+ Already Joined</p>
    <h2 class="mb-6 px-3 text-center text-3xl font-semibold text-white md:text-4xl">Stay up-to-date with what we're doing</h2>
    <form class="mx-auto flex max-w-2xl flex-col items-start justify-center px-6 text-base space-y-6 md:space-y-0 md:space-x-4 md:flex-row md:px-0">
      <div class="mx-auto flex flex-col items-center justify-between md:mx-0 md:flex-row">
        <!-- invalid:[&:not(:placeholder-shown):not(:focus)] -->
        <input type="email"
               class="mb-4 flex-1 rounded-lg border-2 border-white px-6 pt-3 pb-2 invalid:border-softRed0 valid:border-softBlue0 border-1 focus:border-softBlue0 focus:outline-none md:mr-3 md:mb-0"
               placeholder="Enter your email address"
        />

        <input type="submit"
               class="inline-flex transform cursor-pointer rounded-lg px-6 py-3 text-center font-semibold text-white duration-200 bg-softRed0 hover:opacity-90 focus:outline-none"
               value="Contact Us"
        />
      </div>
    </form>
  </div>
</section>

<footer class="py-16 bg-veryDarkBlue0">
  <div class="container mx-auto flex flex-col items-center justify-between px-6 space-y-16 md:space-y-0 md:flex-row">
    <div class="flex flex-col items-center justify-between text-lg font-light space-y-8 text-grayishBlue0 md:space-y-0 md:space-x-14 md:flex-row">
      <img src="assets/bookmark/images/logo-bookmark-footer.svg" alt="" class="mb-1" />
      <a href="#features" class="uppercase hover:text-softRed0">Features</a>
      <a href="#download" class="uppercase hover:text-softRed0">Download</a>
      <a href="#faq" class="uppercase hover:text-softRed0">FAQ</a>
    </div>

    <!-- Social Container -->
    <div class="flex space-x-10">
      <a href="#">
        <img src="assets/bookmark/images/icon-facebook.svg" alt="" class="h-6 ficon" />
      </a>
      <a href="#">
        <img src="assets/bookmark/images/icon-twitter.svg" alt="" class="h-6 ficon" />
      </a>
    </div>
  </div>
</footer>
