<div class="flex gap-3 w-full h-full content-center bg-amber-600 flex-wrap">
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/sandbox">Sandbox</a>
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/email-subscribe">Email Subscribe</a>
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/pricing-cards">Pricing Cards</a>
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/product-modal">Product Modal</a>
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/login-modal">Login Modal</a>
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/image-gallery">Image Gallery</a>
  <a class="bg-amber-400 m-auto py-1 px-5 text-center text-red-900 font-bold border-4 border-red-900 hover:bg-amber-300" href="/clipboard">Clipboard</a>
</div>
