<div class="flex h-full w-full flex-wrap content-center gap-3 bg-amber-600">
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" href="/TailwindFromScratch/sandbox">Sandbox</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/email-subscribe">Email Subscribe</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/pricing-cards">Pricing Cards</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/product-modal">Product Modal</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/login-modal">Login Modal</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/image-gallery">Image Gallery</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/clipboard">Clipboard</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/loopstudio">Loop Studio</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/shortly">Shortly</a>
  <a class="m-auto border-4 border-red-900 bg-amber-400 px-5 py-1 text-center font-bold text-red-900 hover:bg-amber-300" routerLink="/testimonial">Testimonial</a>
</div>
